<% provide(:title, t("view.static_pages.about.about")) %>
<h1><%= t("view.static_pages.about.about") %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>
  <%= t("view.static_pages.about.ruby_on_rails_tutorial") %></em></a>
  <%= t("view.static_pages.about.is_a") %>
  <%= link_to t("view.static_pages.about.book"), "http://www.railstutorial.org/book" %>
  <%= t("view.static_pages.about.and") %>
  <%= link_to t("view.static_pages.about.screen_series"), "http://screencasts.railstutorial.org/" %>
  <%= t("view.static_pages.about.teach_web_development") %>
  <%= link_to t("view.static_pages.about.ruby_on_rails"), "http://rubyonrails.org/" %>.
  <%= t("view.static_pages.about.the_sample_application") %>
</p>
